<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://microsoft-apiapp52770bbe713545afbff1545c4d97ea2d.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>microsoft-apiapp52770bbe713545afbff1545c4d97ea2d.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Microsoft-ApiApp52770bbe713545afbff1545c4d97ea2d</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <AppServiceName>ContosoInventoryAPIApp</AppServiceName>
    <ResourceGroupName>api_demo</ResourceGroupName>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Microsoft-ApiApp52770bbe713545afbff1545c4d97ea2d</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureAPIApp</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ContosoInventoryAPIApp.Models.InventoryDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=edxyxfhoxg.database.windows.net;Initial Catalog=AdventureWorks2012;User ID=msadmin;Password=P@ssword1;Connect Timeout=60" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ContosoInventoryAPIApp.Models.InventoryDbContext, ContosoInventoryAPIApp" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AdventureWorks2012ConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=edxyxfhoxg.database.windows.net;Initial Catalog=AdventureWorks2012;User ID=msadmin;Password=P@ssword1;Connect Timeout=60" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=edxyxfhoxg.database.windows.net;Initial Catalog=AdventureWorks2012;User ID=msadmin;Password=P@ssword1;Connect Timeout=60" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AdventureWorks2012ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=edxyxfhoxg.database.windows.net;Initial Catalog=AdventureWorks2012;User ID=msadmin;Password=P@ssword1;Connect Timeout=60" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ContosoInventoryAPIAppContext" Order="3" Enabled="False">
          <Destination Path="Data Source=edxyxfhoxg.database.windows.net;Initial Catalog=AdventureWorks2012;User ID=msadmin;Password=P@ssword1;Connect Timeout=60" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|ContosoInventoryAPIAppContext-20151009112209.mdf;Initial Catalog=ContosoInventoryAPIAppContext-20151009112209;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ContosoInventoryAPIAppContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=ContosoInventoryAPIAppContext-20151009112209; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|ContosoInventoryAPIAppContext-20151009112209.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AdventureWorks2012ConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=edxyxfhoxg.database.windows.net;Initial Catalog=AdventureWorks2012;User ID=msadmin;Password=P@ssword1;Connect Timeout=60</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ContosoInventoryAPIApp.Models.InventoryDbContext-Web.config Connection String">
      <ParameterValue>Data Source=edxyxfhoxg.database.windows.net;Initial Catalog=AdventureWorks2012;User ID=msadmin;Password=P@ssword1;Connect Timeout=60</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ContosoInventoryAPIAppContext-Web.config Connection String">
      <ParameterValue>data source=edxyxfhoxg.database.windows.net;initial catalog=AdventureWorks2012;user id=msadmin;password=P@ssword1;connect timeout=60;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ContosoInventoryAPIApp.Models.InventoryDbContext" />
  </ItemGroup>
</Project>